<h2>LOGIN</h2>

<form asp-controller="Login" asp-action="Logar" method="post">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="form-label">Usuário</label>
            <input type="email" class="form-control" name="email" id="Email" placeholder="nome@gmail.com" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" name="password" id="password"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class=" button">
            <button class=" btn tbn-primary" type="submit">Entrar</button>
        </div>
    </div>
</form>